#myinput {
  margin-left:250px;
  width: 50%; 
  font-size: 16px; 
  
  border: 1px solid #000000; 

}

body{
background-color:#FFFDD0;
}

p{
margin-top:20px;
text-align:center;
font-family:Arial;

}



h4{
text-align:center;
font-family:Arial;
font-size: 16px;
}

#portfolio {
    padding: 40px;
    margin: 0 auto;
}


.card{
   box-shadow: 0 4px 4px rgba(0,0,0,0.2);
   transition: 0.9s;
   width:300px;
   overflow: hidden; 
            margin: 0 auto;
   
}

.card img { 
        width: 50%; 
        transition: 1.9s all ease-in-out; 
    } 
       
 .card:hover img { 
        transform: scale(1.1); 
    } 

.column {
  float: left;
  width: 33.3;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.gallery-title
{
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    padding: 40px 20px 60px;
    font-family:Italic;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
    margin-left: 90px;
    
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    color: #c91ad6;
    background-color: #000000;

}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
